*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    margin: 2%;

}
.card{
    width: 20%;
    box-shadow: 2px 2px 20px black;
    display: inline-block;
    border-radius: 5px;
    margin: 2%;

}
.image img{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.title{
    text-align: center;
    padding: 10px;
}
h1{
    font-size: 20px;
}

.des{
    text-align: center;
    padding-bottom: 2px ;
}
.des button{
    height: 40px;
    width: 80px;
    background-color: rgb(52, 199, 199);
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 25%;
    font-size: bold;

}
button:hover{
    background-color: rgb(228, 73, 73);
}